# Power BI
*.pbiviz
*.pbit
*.pbids
*.tmp
*.bak

# Power BI Cache folders
*.pbix-cache
*.pbix-cache-*

# Sistema operacional (Windows e macOS)
Thumbs.db
.DS_Store
ehthumbs.db
Icon?
Desktop.ini

# Logs e backups
*.log
*.bak
*.old
*.tmp

# Jupyter/VSCode config
.ipynb_checkpoints/
.vscode/
__pycache__/
*.pyc
